# ENEM 2020 a 2022

In [1]:
# Importa bibliotecas e carrega dados em um dataframe
import pandas as pd 
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

from statsmodels.miscmodels.ordinal_model import OrderedModel
pd.set_option('display.max_columns', None)

Arquivo = 'MICRODADOS_ENEM_2020_1-1000.csv'

DF = pd.read_csv(Arquivo,engine="python", encoding='ISO-8859-1', decimal=",").drop(columns=['Unnamed: 0'])
DF = DF.dropna()

DF2 = pd.DataFrame([])

DF.describe()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,CO_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,7.760000e+02,776.0,776.000000,776.000000,776.000000,776.000000,776.0,776.0,776.000000,776.000000,776.0,7.760000e+02,776.000000,776.000000,776.000000,776.000000,7.760000e+02,776.000000,776.0,776.0,776.0,776.0,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000
mean,2.000039e+11,2020.0,2.649485,1.010309,2.065722,1.018041,2.0,0.0,2.027062,1.007732,0.0,3.180295e+06,31.666237,1.947165,1.025773,1.007732,3.180733e+06,31.670103,1.0,1.0,1.0,1.0,599.269330,569.291237,579.279639,589.279639,514.870103,547.985567,552.127191,554.002835,0.382732,1.052835,132.938144,145.438144,130.592784,142.345361,130.541237,681.855670,3.935567
std,1.690041e+06,0.0,0.800532,0.248655,1.020846,0.159626,0.0,0.0,0.162368,0.087647,0.0,9.280892e+05,9.255970,0.514103,0.158560,0.152204,9.280638e+05,9.256039,0.0,0.0,0.0,0.0,7.641374,7.687961,7.701053,7.668647,76.466422,86.926062,64.869862,118.115896,0.486367,0.490995,30.286823,48.797819,43.351933,38.341949,55.701656,193.501281,1.349207
min,2.000010e+11,2020.0,1.000000,0.000000,0.000000,1.000000,2.0,0.0,2.000000,1.000000,0.0,1.100049e+06,11.000000,1.000000,1.000000,1.000000,1.100049e+06,11.000000,1.0,1.0,1.0,1.0,597.000000,567.000000,577.000000,587.000000,341.000000,331.000000,335.700000,328.600000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000025e+11,2020.0,2.000000,1.000000,1.000000,1.000000,2.0,0.0,2.000000,1.000000,0.0,2.503180e+06,25.000000,2.000000,1.000000,1.000000,2.503580e+06,25.000000,1.0,1.0,1.0,1.0,598.000000,568.000000,578.000000,588.000000,454.900000,491.700000,521.475000,454.850000,0.000000,1.000000,120.000000,120.000000,120.000000,120.000000,80.000000,560.000000,3.000000
50%,2.000038e+11,2020.0,3.000000,1.000000,2.000000,1.000000,2.0,0.0,2.000000,1.000000,0.0,3.145604e+06,31.000000,2.000000,1.000000,1.000000,3.144804e+06,31.000000,1.0,1.0,1.0,1.0,599.000000,569.000000,579.000000,589.000000,519.050000,554.950000,560.300000,551.550000,0.000000,1.000000,140.000000,160.000000,120.000000,140.000000,140.000000,680.000000,4.000000
75%,2.000054e+11,2020.0,3.000000,1.000000,3.000000,1.000000,2.0,0.0,2.000000,1.000000,0.0,3.549805e+06,35.000000,2.000000,1.000000,1.000000,3.549830e+06,35.000000,1.0,1.0,1.0,1.0,600.000000,570.000000,580.000000,590.000000,569.950000,607.775000,597.225000,641.350000,1.000000,1.000000,160.000000,180.000000,160.000000,180.000000,180.000000,840.000000,5.000000
max,2.000068e+11,2020.0,8.000000,4.000000,5.000000,4.000000,2.0,0.0,3.000000,2.000000,0.0,5.300108e+06,53.000000,4.000000,2.000000,4.000000,5.300108e+06,53.000000,1.0,1.0,1.0,1.0,680.000000,650.000000,660.000000,670.000000,734.300000,801.300000,723.400000,939.000000,1.000000,8.000000,200.000000,200.000000,200.000000,200.000000,200.000000,980.000000,18.000000

# Colunas com informação irrelevante ou redundante
Informações como nome do município código do município são redundantes. 
Optou-se por tomar os códigos.

# Sexo
0: masculino
1: feminino

In [2]:
DF2['MASCULINO'] = DF['TP_SEXO'].apply(lambda x: 0 if x=='M' else 1)

# Cor Raça
0	Não declarado

1	Branca

2	Preta

3	Parda

4	Amarela

5	Indígena 

Binarização exclui a opção "Não declarado".

In [3]:
DF2['Cor_Branca'] = DF['TP_COR_RACA'].apply(lambda x: 1 if x==1 else 0)
DF2['Cor_Preta'] = DF['TP_COR_RACA'].apply(lambda x: 1 if x==2 else 0)
DF2['Cor_Parda'] = DF['TP_COR_RACA'].apply(lambda x: 1 if x==3 else 0)
DF2['Cor_Amarela'] = DF['TP_COR_RACA'].apply(lambda x: 1 if x==4 else 0)
DF2['Cor_Indígena'] = DF['TP_COR_RACA'].apply(lambda x: 1 if x==5 else 0)

# Idade

Para que a regularização dos valores de idade não fique muito discrepantes com idades altas e pouco frequentes na amostra idades superiores a 25 anos foram concideradas outliers.

A seguir um histogramaa dos valores e a contagem dos valores.

In [4]:

DF2['IDADE'] = DF['TP_FAIXA_ETARIA'].apply(lambda x: (x-1)/19)

# Tipo de escola

1	Não Respondeu

2	Pública

3	Privada

4	Exterior

Binarização exclui a opção "Não respondeu".

In [5]:

DF2['ESC_PUBL'] = DF['TP_ESCOLA'].apply(lambda x: 1 if x==2 else 0)

In [6]:
DF2['CH'] = pd.cut( DF['NU_NOTA_CH'], bins = 5, labels= False)
DF2['CN'] = pd.cut( DF['NU_NOTA_CN'], bins = 5, labels= False)
DF2['LC'] = pd.cut( DF['NU_NOTA_LC'], bins = 5, labels= False)
DF2['MT'] = pd.cut( DF['NU_NOTA_MT'], bins = 5, labels= False)
DF2['REDACAO'] = pd.cut( DF['NU_NOTA_REDACAO'], bins = 5, labels= False)

# Q001
## Até que série seu pai, ou o homem responsável por você, estudou?

A	Nunca estudou.

B	Não completou a 4ª série/5º ano do Ensino Fundamental.

C	Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.

D	Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.

E	Completou o Ensino Médio, mas não completou a Faculdade.

F	Completou a Faculdade, mas não completou a Pós-graduação.

G	Completou a Pós-graduação.

H	Não sei.


Como a maioria das categorias são ordinais uma única variável onde 0 representa "Nunca estudou" e 1 representa "completou a Pós-graduação". Respostas marcadas como "Não sei." serão consideradas de valor zero.

A categoria "Estudo_Pai" pode ser entendida como a ciência do estudante da escolaridade do pai até determinado grau onde:

### 0: Não sabe ou o pai nunca estudou.
### 1: Pai completou a pós graduação.

In [7]:
DF2['Estudo_Pai'] = DF['Q001'].replace({'A':0,
                                       'B':1/6,
                                       'C':2/6,
                                       'D':3/6,
                                       'E':4/6,
                                       'F':5/6,
                                       'G':6/6,
                                       'H':0,
                                      })

In [8]:
DF2['Estudo_Mae'] = DF['Q002'].replace({'A':0,
                                       'B':1/6,
                                       'C':2/6,
                                       'D':3/6,
                                       'E':4/6,
                                       'F':5/6,
                                       'G':6/6,
                                       'H':0,
                                      })


# Q003

## A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).

A	Grupo 1: Lavrador, agricultor sem empregados, bóia fria, criador de animais (gado, porcos, galinhas, ovelhas, cavalos etc.), apicultor, pescador, lenhador, seringueiro, extrativista.

B	Grupo 2: Diarista, empregado doméstico, cuidador de idosos, babá, cozinheiro (em casas particulares), motorista particular, jardineiro, faxineiro de empresas e prédios, vigilante, porteiro, carteiro, office-boy, vendedor, caixa, atendente de loja, auxiliar administrativo, recepcionista, servente de pedreiro, repositor de mercadoria.

C	Grupo 3: Padeiro, cozinheiro industrial ou em restaurantes, sapateiro, costureiro, joalheiro, torneiro mecânico, operador de máquinas, soldador, operário de fábrica, trabalhador da mineração, pedreiro, pintor, eletricista, encanador, motorista, caminhoneiro, taxista.

D	Grupo 4: Professor (de ensino fundamental ou médio, idioma, música, artes etc.), técnico (de enfermagem, contabilidade, eletrônica etc.), policial, militar de baixa patente (soldado, cabo, sargento), corretor de imóveis, supervisor, gerente, mestre de obras, pastor, microempresário (proprietário de empresa com menos de 10 empregados), pequeno comerciante, pequeno proprietário de terras, trabalhador autônomo ou por conta própria.

E	Grupo 5: Médico, engenheiro, dentista, psicólogo, economista, advogado, juiz, promotor, defensor, delegado, tenente, capitão, coronel, professor universitário, diretor em empresas públicas ou privadas, político, proprietário de empresas com mais de 10 empregados.

F	Não sei.


### O grupo excluido na binarização será o F "Não sei"

In [9]:
DF2['Ocupacao_Pai_1'] = DF['Q003'].apply(lambda x: 1 if x=='A' else 0)
DF2['Ocupacao_Pai_2'] = DF['Q003'].apply(lambda x: 1 if x=='B' else 0)
DF2['Ocupacao_Pai_3'] = DF['Q003'].apply(lambda x: 1 if x=='C' else 0)
DF2['Ocupacao_Pai_4'] = DF['Q003'].apply(lambda x: 1 if x=='D' else 0)
DF2['Ocupacao_Pai_5'] = DF['Q003'].apply(lambda x: 1 if x=='E' else 0)

In [10]:
DF2['Ocupacao_Mae_1'] = DF['Q004'].apply(lambda x: 1 if x=='A' else 0)
DF2['Ocupacao_Mae_2'] = DF['Q004'].apply(lambda x: 1 if x=='B' else 0)
DF2['Ocupacao_Mae_3'] = DF['Q004'].apply(lambda x: 1 if x=='C' else 0)
DF2['Ocupacao_Mae_4'] = DF['Q004'].apply(lambda x: 1 if x=='D' else 0)
DF2['Ocupacao_Mae_5'] = DF['Q004'].apply(lambda x: 1 if x=='E' else 0)

In [11]:
DF2['Pessoas_casa'] = DF['Q005'].apply(lambda x: (x-1)/19)
DF = DF.drop(columns = 'Q005')

In [12]:
DF2['Renda'] = DF['Q006'].replace({'A':0,
                    'B':2,
                    'C':3,
                    'D':4,
                    'E':5,
                    'F':6,
                    'G':7,
                    'H':8,
                    'I':9,
                    'J':10,
                    'K':11,
                    'L':12,
                    'M':13,
                    'N':14,
                    'O':15,
                    'P':16,
                    'Q':17,
                   })

In [13]:
DF2

,MASCULINO,Cor_Branca,Cor_Preta,Cor_Parda,Cor_Amarela,Cor_Indígena,IDADE,ESC_PUBL,CH,CN,LC,MT,REDACAO,Estudo_Pai,Estudo_Mae,Ocupacao_Pai_1,Ocupacao_Pai_2,Ocupacao_Pai_3,Ocupacao_Pai_4,Ocupacao_Pai_5,Ocupacao_Mae_1,Ocupacao_Mae_2,Ocupacao_Mae_3,Ocupacao_Mae_4,Ocupacao_Mae_5,Pessoas_casa,Renda
36,1,0,0,1,0,0,0.105263,1,1,1,2,0,3,0.666667,0.666667,1,0,0,0,0,1,0,0,0,0,0.157895,2
65,1,0,0,1,0,0,0.105263,1,2,2,2,0,4,0.000000,0.333333,1,0,0,0,0,1,0,0,0,0,0.105263,2
84,1,0,0,1,0,0,0.052632,1,1,1,2,0,3,0.333333,0.666667,0,0,1,0,0,0,1,0,0,0,0.263158,2
89,1,1,0,0,0,0,0.052632,1,3,3,3,2,4,0.166667,0.333333,0,0,1,0,0,1,0,0,0,0,0.105263,3
93,0,0,1,0,0,0,0.157895,1,3,3,3,3,4,0.666667,0.666667,0,0,1,0,0,0,0,1,0,0,0.157895,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,0,0,0,1,0,0,0.000000,1,3,2,3,2,3,0.500000,0.333333,1,0,0,0,0,1,0,0,0,0,0.315789,5
5874,1,0,0,1,0,0,0.052632,1,2,2,2,1,4,0.500000,0.666667,0,0,1,0,0,0,0,0,1,0,0.157895,2
5876,1,1,0,0,0,0,0.052632,1,3,3,3,3,4,1.000000,0.666667,0,0,0,1,0,0,0,0,1,0,0.105263,4
5880,1,1,0,0,0,0,0.105263,1,3,3,4,2,4,0.833333,0.666667,0,0,0,1,0,0,1,0,0,0,0.052632,2
5881,0,1,0,0,0,0,0.052632,1,0,2,2,2,2,0.333333,0.666667,1,0,0,0,0,0,1,0,0,0,0.157895,2

In [14]:
def reg_log (x,y):
    mod_log = OrderedModel(y, X, distr='logit')
    res_log = mod_log.fit(method='bfgs', disp=False)
    col =['Var','coef','std','z','p-value','2,5%','97,5%']
    resul = pd.DataFrame(res_log.summary().tables[1][1:],columns = col)
    params = res_log.params
    pvalues = res_log.pvalues
    
    return [resul,params,pvalues]

def cria_exogenas(DATA,RemoCol):
    exo= DATA[list (DATA.drop(columns = RemoCol).columns)]
    return exo

# Declaração da variável endógena
Var_Dep ='MT'

# Lista iniciais de variáveis a serem desconcideradas
Var_Remo = ['MT', 'CH','CN','LC','REDACAO']

# Critério para p-value
crit =0.05

y = DF2[Var_Dep]
X = cria_exogenas(DF2,Var_Remo)

[resul,parm,pval]=reg_log(X,y)

print(resul)

extrai = pval[0:-4][pval>=crit].index

for i in extrai:
    Var_Remo.append(i)

conta=0
    
while (len(extrai)!=0):
    conta=conta+1
    print("loop: ",conta)
    extrai=[]
    X = cria_exogenas(DF2,Var_Remo)
    [resul,parm,pval]=reg_log(X,y)
    extrai = pval[0:-4][pval>=crit].index
    for i in extrai:
        Var_Remo.append(i)
        
    print(resul)

               Var        coef        std          z p-value       2,5%  \
0        MASCULINO     -0.9061      0.143     -6.335   0.000     -1.186
1       Cor_Branca      0.3945      0.601      0.656   0.512     -0.784
2        Cor_Preta     -0.4675      0.620     -0.754   0.451     -1.683
3        Cor_Parda     -0.0355      0.597     -0.059   0.953     -1.206
4      Cor_Amarela      0.0739      0.761      0.097   0.923     -1.417
5     Cor_Indígena      0.9059      0.992      0.913   0.361     -1.038
6            IDADE     -6.6945      1.669     -4.012   0.000     -9.965
7         ESC_PUBL     -1.0779      0.425     -2.536   0.011     -1.911
8       Estudo_Pai      0.2582      0.306      0.845   0.398     -0.341
9       Estudo_Mae     -0.1284      0.355     -0.362   0.718     -0.824
10  Ocupacao_Pai_1     -0.0161      0.314     -0.051   0.959     -0.632
11  Ocupacao_Pai_2     -0.1455      0.258     -0.564   0.572     -0.651
12  Ocupacao_Pai_3      0.0122      0.254      0.048   0.962     -0.486
13  Ocupacao_Pai_4      0.1757      0.278      0.632   0.527     -0.369
14  Ocupacao_Pai_5     -0.2464      0.542     -0.455   0.649     -1.308
15  Ocupacao_Mae_1      0.3262      0.354      0.921   0.357     -0.368
16  Ocupacao_Mae_2      0.4533      0.243      1.867   0.062     -0.023
17  Ocupacao_Mae_3      0.7680      0.317      2.421   0.015      0.146
18  Ocupacao_Mae_4      0.4382      0.273      1.607   0.108     -0.096
19  Ocupacao_Mae_5      0.2165      0.581      0.372   0.710     -0.923
20    Pessoas_casa     -1.5899      0.996     -1.597   0.110     -3.541
21           Renda      0.2182      0.031      6.997   0.000      0.157
22             0/1     -2.4197      0.843     -2.871   0.004     -4.071
23             1/2      0.5561      0.055     10.026   0.000      0.447
24             2/3      0.6695      0.061     11.040   0.000      0.551
25             3/4      0.8335      0.119      6.994   0.000      0.600

        97,5%
0      -0.626
1       1.573
2       0.748
3       1.135
4       1.565
5       2.850
6      -3.424
7      -0.245
8       0.857
9       0.567
10      0.599
11      0.360
12      0.510
13      0.720
14      0.816
15      1.020
16      0.929
17      1.390
18      0.973
19      1.356
20      0.362
21      0.279
22     -0.768
23      0.665
24      0.788
25      1.067
loop:  1
              Var        coef        std          z p-value       2,5%  \
0       MASCULINO     -0.8203      0.139     -5.888   0.000     -1.093
1           IDADE     -7.4552      1.630     -4.574   0.000    -10.650
2        ESC_PUBL     -1.2959      0.424     -3.059   0.002     -2.126
3  Ocupacao_Mae_3      0.3978      0.233      1.711   0.087     -0.058
4           Renda      0.2482      0.026      9.386   0.000      0.196
5             0/1     -2.7590      0.472     -5.843   0.000     -3.684
6             1/2      0.5277      0.055      9.558   0.000      0.420
7             2/3      0.6488      0.061     10.684   0.000      0.530
8             3/4      0.8261      0.120      6.869   0.000      0.590

       97,5%
0     -0.547
1     -4.260
2     -0.466
3      0.853
4      0.300
5     -1.834
6      0.636
7      0.768
8      1.062
loop:  2
         Var        coef        std          z p-value       2,5%      97,5%
0  MASCULINO     -0.8276      0.139     -5.945   0.000     -1.100     -0.555
1      IDADE     -7.4656      1.628     -4.585   0.000    -10.657     -4.274
2   ESC_PUBL     -1.3089      0.421     -3.108   0.002     -2.134     -0.483
3      Renda      0.2475      0.026      9.358   0.000      0.196      0.299
4        0/1     -2.8098      0.470     -5.985   0.000     -3.730     -1.890
5        1/2      0.5240      0.055      9.497   0.000      0.416      0.632
6        2/3      0.6464      0.061     10.637   0.000      0.527      0.765
7        3/4      0.8261      0.120      6.864   0.000      0.590      1.062

In [15]:
resul[0:-4]

         Var        coef        std          z p-value       2,5%      97,5%
0  MASCULINO     -0.8276      0.139     -5.945   0.000     -1.100     -0.555
1      IDADE     -7.4656      1.628     -4.585   0.000    -10.657     -4.274
2   ESC_PUBL     -1.3089      0.421     -3.108   0.002     -2.134     -0.483
3      Renda      0.2475      0.026      9.358   0.000      0.196      0.299

In [16]:
resul.to_csv(Arquivo.split('.')[0]+'_resultado_regressão.csv')